/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100%;

}

.content {
    padding: 20px; /* Ajustez selon vos besoins */
    background-color: rgb(255, 255, 255);
}
