.bgBeige {
    background-color: rgb(251, 202, 142);
}
.beige {
    color: rgb(251, 202, 142);
}

.red{
    color: rgb(51, 6, 6);
    font-size:160%;
}

.bgRed {
    background-color:rgb(51, 6, 6);
}
.home {
    margin-left: 2%;
}
.navbar-nav .nav-item {
    width: 100px;
    margin-right: 50px; /* Espacement horizontal entre les éléments li */
  }
  
  .navbar-nav {
    display: flex;
    align-items: center; /* Alignement vertical des éléments li */
  }
  