.bgBeige {
    background-color: rgb(251, 202, 142);
}
.beige {
    color: rgb(251, 202, 142);
}

.red{
    color: black;
    font-size:160%;
}

.bgRed {
    background-color:rgb(51, 6, 6);
}
.home {
    margin-left: 2%;
}

.shopping-cart {
    position: relative;
    display: inline-block;
}
.recommendation-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}