<div class="login-form-container" style="margin-top: 5%;">
    <form (ngSubmit)="onSubmit()">
        <h3 style="color: #C9AB81; text-align: center;">LOG IN</h3>

      <div>
        <input  placeholder="Username"type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div>
        <div class="password-input-container">
          <input placeholder="Password" type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" [(ngModel)]="password" required>
          <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
            <i class="fa fa-eye" *ngIf="showPassword"></i>
            <i class="fa fa-eye-slash" *ngIf="!showPassword"></i>
          </span>
        </div>
      </div>
      
   
      <button type="submit" style="background-color: #C9AB81; 

      ;">Login</button>
    </form>
  
  </div>
  <div style="text-align: center;  color: white; font-weight: bold; margin-top: 2%;margin-bottom: 2%;">
    <span>Forgot your password?</span>

  </div>
  <div style="text-align: center;  margin-top: 2%;margin-bottom: 2%;color: white; ">
    Or connect with

  </div>
  <div style="text-align: center; ">
  <a class="btn bgRed p-1 m-1" style="width: 3%;" href="#" role="button"><img src="assets/Images/Facebook.png" width="40%" class="m-1"></a>
  <a class="btn bgRed p-1 m-1" style="width: 3%;" href="#" role="button"><img src="assets/Images/google.png" width="75%"  class="m-1"></a>
  </div>
  <div style=" text-align: center;color: white;font-weight: bold;  margin-top: 2%;margin-bottom: 2%;">
    <span>Don't have an account? SIGN UP</span>
  </div>
