<h3 style="color: white;">Your order</h3>
<div class="container mb-5">
    <div>
        <div *ngFor="let item of orders" class="conatiner summary">
            <div class="row row-cols-2">
                <div class="col col-2">{{item.dish.name}}</div>
                <div class="col col-1">{{item.numberOfDishes}} Dish</div>
                <div class="col col-1">{{item.price}}€</div>
                <div class="col col-1" (click)="deleteOder(item)"><mat-icon > delete</mat-icon></div>
            </div>
            <hr>
        </div>
        
    </div>
    <div class="hr"></div>
    <div class="container total">
        <div class="row row-cols-2">
          
            <div>Total:</div>
            <div>€{{total | number:'1.2-2'}}</div>
        </div>
    </div>
</div>
<div class="container myForm mb-5">
    <h3>Order Forms</h3>
    <p>Please fill up the info for the delivery:</p>
    <hr>
    <form [formGroup]="orderForm" (ngSubmit)="OnSubmit()">
        <div>
            Name
            <br>
            <input type="text" formControlName="name">
            <div *ngIf="orderForm.controls['name'].invalid && (orderForm.controls['name'].dirty || orderForm.controls['name'].touched)">
                <small class="text-danger">Name is required</small>
            </div>
        </div>
        <br>
        <div>
            Phone Number
            <br>
            <input type="number" formControlName="phoneNumber">
            <div *ngIf="orderForm.controls['phoneNumber'].invalid && (orderForm.controls['phoneNumber'].dirty || orderForm.controls['phoneNumber'].touched)">
                <small class="text-danger">Phone number is required</small>
            </div>
        </div>
        <br>
        <div>
            Address
            <br>
            <input type="text" formControlName="address">
            <div *ngIf="orderForm.controls['address'].invalid && (orderForm.controls['address'].dirty || orderForm.controls['address'].touched)">
                <small class="text-danger">Address is required</small>
            </div>
        </div>
        <br>
        <input type="submit" class="btn btn-primary mt-3" value="Submit" [disabled]="orderForm.invalid">
    </form>
</div>

