@import url("https://use.typekit.net/vyd2wkn.css");

h4 {
        text-align: center;
        margin-top: 5%;
        font-family: "lindsey-signature", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 500%;
        margin-bottom: 30px;

    }

.row {
    margin-bottom: 70px;
    .card{
        margin: 5%;
        width: 70%;
        height:90% ;
        box-shadow: 2px 2px 6px black;
    }

    img{
        height: 30vh;
        object-fit: cover;
    }

    
    .btn {
        margin: 0% 4.5%;
        background-color:#B69E5C ;
        border: 0px;
        color: white;
        font-family: "eixample-dip", sans-serif;
        margin-top: 20px;

    }

    
}