.login-form-container {
    color: #333;
    background-color: #FFF;
    margin-bottom: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #C9AB81;
    border-radius: 1px;
  }
  
  .login-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form-container label {
    margin-bottom: 5px;
    font-weight: bold; /* Ajouter la propriété font-weight ici également */
  }
  
  .login-form-container input ,textarea,select{
    padding: 8px;
    background-color: #FFF;
    border: 2px solid #C9AB81;
    border-radius: 5px;
    margin-bottom: 2%;
    // margin-top: 5%;
  
    width: 100%; /* Set width to 100% */
  }
  
  .password-input-container {
    position: relative;
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .links {
    margin-top: 15px;
  }
  
  .links a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
  }
  
  button {
    padding: 10px;
    background-color: #C9AB81;
    color: white;
    border: none;
    border-radius: 5px;
    width: 24%;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #C9AB81;
  }
  