<div class="login-form-container">
  <h5 style="font-weight: bold; text-align: center;font-size: 20px;">Add Table</h5>
</div>
<div class="login-form-container">
  <form [formGroup]="tableForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="tableNumber">Table Number</label>
      <input type="number" id="tableNumber" class="form-control" formControlName="tableNumber">
     
      <div *ngIf="tableForm.get('tableNumber')?.hasError('required') ">
        <div *ngIf="tableForm.get('tableNumber')?.errors?.['required']">Table number is required</div>
        <div *ngIf="tableForm.get('tableNumber')?.errors?.['min']">Table number must be greater than 0.</div>
        <div *ngIf="tableForm.get('tableNumber')?.errors?.['nonNegative']">Table number must not be negative.</div>

      </div>
    </div>

    <div class="form-group">
      <label for="capacity">Capacity</label>
      <input type="number" id="capacity" class="form-control" formControlName="capacity">
      
      <div *ngIf="tableForm.get('capacity')?.hasError('required') ">
        <div *ngIf="tableForm.get('capacity')?.errors?.['required']">Capacity is required.</div>
        <div *ngIf="tableForm.get('capacity')?.errors?.['min']">Capacity must be greater than 0.</div>
        <div *ngIf="tableForm.get('capacity')?.errors?.['nonNegative']">Table number must not be negative.</div>

      </div>
     
    </div>

    <div style="display: flex;justify-content: space-between;">
      <button type="reset" class="btn btn-primary" (click)="closeModal()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="tableForm.invalid">Add</button>
    </div>
  </form>
</div>
